<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <ul>
        <li><b>Nombre</b>: {{ mail.name }}</li>
        <li><b>Asunto</b>: {{ mail.subject }}</li>
        <li><b>Remitente</b>: {{ mail.email }}</li>
        <li><b>Mensaje</b>:</li>
        <li>{{ mail.body }}</li>
    </ul>
</body>
</html>