{% extends 'BlogBundle:Blog:blog_frontend.html.twig' %}


{% block title %}Formulario de logueo{% endblock %}

{% block section %}
	<div>
		<input  class="button" type="button" name="boton">
	</div>
{% endblock %}

{% block aside %}
    {{ parent() }}
{% endblock %}

{% block jsbody %}{% endblock %}